@media screen and (max-width:480px) {
   
   
    .navbar{
        padding-left: 20px;
        padding-right: 10px;
    }

    .maindiv {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    .mainheading {
        margin-top: 0px;
    }

    .contents {
        display: none;
    }

    .menubar {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: #14CF93;
    }
    .menubar>i{
        color:#14CF93;
    }
    .contents::after{
        background-color: #ffffff;
    }
   

    .mobilemenudiv {

        display: inline-flex;
        width:0vw;
        height: 100vh;
        background-color: #000000;
        position: fixed;
        top: 0%;
        z-index: 10;
        right:0%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: myfont;
        font-size: 1.2cm;
        transition: 1s;
        gap: 20px;
        overflow: hidden;

    }
    .timediv{
        margin-right: 30px;
    }

    .mobilecontents {
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5cm;
        font-weight: 600;
    }

    .mobilecontents>p>span {
        color: #14CF93;
    }

    .closebar{
        
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top:10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:20px;
        color: #14CF93;
    }

    .left {
        width: 100%;
    }

    .together {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 1.5cm;
        padding-left: 20px;

    }

    .together>p {
        font-size: 0.5cm;
        font-weight: 700;
    }

    .together2 {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 40px;
        justify-content: flex-end;
        font-family: myfont;
        font-size: 1.5cm;
        font-weight: 700;
        gap: 10px;
        padding-right: 40px;
        align-items: center;
    }

    #lottie {

        width: 50px;
        height: 50px;
        align-content: end;
    }
    svg{
        width:0.7cm;
        height: 0.7cm;
    }
    .seconddiv{
        min-height: fit-content;
        padding:0px 20px;
        padding-bottom: 70px;
        background-color: rgb(255, 255, 255);
        gap: 30px;
    }
    .headingandlogo1>h1{
        font-size: 1cm;
        margin-left: 0px;
    }
    .seconddiv>p{
        font-size: 0.5cm;
    }
    .iconsdiv{
        font-size:0.7cm;
    }
    .thirddiv{
        min-height: fit-content;
        padding:20px 20px;
        background-color: rgb(255, 255, 255);
        gap: 30px;
    }
    .headingandlogo2>h1{
        font-size: 1cm;
        margin-right: 0px;
    }
    .services{
        height: 7cm;
        width:100%;
    }
    .servicesdiv{
        gap: 20px;
    }
    .insidediv{
        transform: translateY(70%);
    }




    .fourthdiv{
        min-height: fit-content;
        padding:40px 20px;
        background-color: rgb(255, 255, 255);
        gap: 30px;
    }
    .headingandlogo3>h1{
        font-size: 1cm;
        margin-left: 0px;
    }
    .fifthdiv{
        min-height: fit-content;
        padding:40px 20px;
        background-color: rgb(255, 255, 255);
        gap: 30px;
    }

    .headingandlogo4>h1{
        font-size: 1cm;
        margin-right: 0px;
    }
    .projectdiv1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    
    .innerdetails{
        height: 1.5cm;
    }
    .linkdiv{
        min-height: 1.2cm;
        min-width: 1.2cm;
        font-size: 0.7cm;
    }
    .github{
        min-height: 1.2cm;
        min-width: 1.2cm;
    }
    .round{
        height: 1.2cm;
        width: 1.2cm;
    }
    .projectsdiv{
        gap: 20px;
    }
    .projectdiv1{
        gap: 20px;
    }
    
    .project1{
        width:100%;
        height:7cm;
    }
    .project2{
        width:100%;
        height:7cm;
    }
    .project3{
        width:100%;
        height:7cm;
    }
    .project4{
        width: 100%;
        height: 7cm;
    }
    .sixthdiv{
        min-height: fit-content;
        padding:40px 20px;
        padding-bottom: 40px;
        background-color: rgb(255, 255, 255);
        gap: 30px;
    }
    .headingandlogo5>h1{
        font-size: 1cm;
        margin-left: 0px;
    }
    .sixthdiv>p{
        font-size: 0.5cm;
    }
    .emaildiv{
        flex-direction: column;
        padding: 10px 10px;
    }
    .typebox{
        width: 100%;
    }
    .inputs{
        flex-direction: column;
    }
    .sideimg{
        display: none;
    }
    .socials{
        height: 1.7cm;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    .social{
        height:1.3cm;
        width: 1.3cm;
    }
    
}

@media (min-width:481px) and (max-width:950px) {
    .projectdiv1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    
    .innerdetails{
        height: 1.5cm;
    }
    .linkdiv{
        min-height: 1.5cm;
        min-width: 1.5cm;
        font-size: 0.7cm;
    }
    .round{
        height: 1.2cm;
        width: 1.2cm;
    }
    .projectsdiv{
        gap: 20px;
    }
    .projectdiv1{
        gap: 20px;
    }
    
    .project1{
        width:100%;
        height:8cm;
    }
    .project2{
        width:100%;
        height:8cm;
    }
    .project3{
        width:100%;
        height:8cm;
    }
    .project4{
        width:100%;
        height:8cm;
    }


    .emaildiv{
        flex-direction: column;
        padding: 10px 10px;
    }
    .typebox{
        width: 100%;
    }
    .inputs{
        flex-direction: column;
    }
    .sideimg{
        display: none;
    }
    .socials{
        height: 1.7cm;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    .social{
        height:1.3cm;
        width: 1.3cm;
    }
}